html {
  background-color: rgb(27, 7, 71);
}
* {
  box-sizing: border-box;
}
.clock {
  position: relative;
  width: 360px;
  height: 360px;
  margin: 50px auto;
  border: 10px solid rgb(142, 173, 178);
  border-radius: 50%;
}

.style {
  font-size: 6px;
  width: 10px;
  height: 10px;
}

.item12 {
  position: absolute;
  left: 155px;
  top: 5px;
  font-size: 25px;
  color:rgb(141, 43, 43);
}

.item6 {
  position: absolute;
  left: 165px;
  bottom: 5px;
  font-size: 25px;
  color:rgb(141, 43, 43);
}

.item3 {
  position: absolute;
  right: 5px;
  top: 155px;
  font-size: 25px;
  color:rgb(141, 43, 43);
}

.item9 {
  position: absolute;
  left: 5px;
  top: 155px;
  font-size: 25px;
  color:rgb(141, 43, 43);
}

.item1 {
  position: absolute;
  left: 250px;
  top: 30px;
  color:rgb(176, 187, 187);
}

.item11 {
  position: absolute;
  right: 250px;
  top: 30px;
  color:rgb(176, 187, 187);
}

.item10 {
  position: absolute;
  left: 30px;
  top: 90px;
  color:rgb(176, 187, 187);
}

.item2 {
  position: absolute;
  right: 30px;
  top: 90px;
  color:rgb(176, 187, 187);
}

.item8 {
  position: absolute;
  left: 30px;
  bottom: 90px;
  color:rgb(176, 187, 187);
}

.item4 {
  position: absolute;
  right: 30px;
  bottom: 90px;
  color:rgb(176, 187, 187);
}

.item7 {
  position: absolute;
  right: 250px;
  bottom: 30px;
  color:rgb(176, 187, 187);
}

.item5 {
  position: absolute;
  left: 250px;
  bottom: 30px;
  color:rgb(176, 187, 187);
}